body{
    font-family: 'SST', Arial, Helvetica, sans-serif;
}

/*Header*/
.sony-logo{
    width:100%;
    max-width:128px;
}

/*Main */
.featured-game{
    background-image: url(../imgs/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    aspect-ratio: calc(18 / 6.75);
}
.featured-game > .container {
    height:100%;
    min-height:500px;
}
.featured-game-card{
    z-index:0;
    background:none;
    border:none;
}
