@media screen and (min-width: 768px) {
  .af-w-md-20 {
    width: calc(20% - 0.75rem);
  }
  .playstation-plus-text,
  .playstation-now-text {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) {
  .header {
    .nav-link {
      font-size: 1.5rem;
    }
    .nav-item{
      .navbar-dropdown {
      top: 100%;
      left: 50%;
      translate: -50% 0;
      width: 98%;
      }
    }
  }
  .playstation-plus-text,
  .playstation-now-text {
    font-size: 1.5rem;
  }
}
